// Colours:
$color-primary: #64ffda;
$color-background: #0a192f;
$color-background-overlay: rgba($color-background, 0.85);

$color-text-primary: $color-primary;
$color-text-body: #ccd6f6;
$color-text-body-dark: #8892b0;

$color-black: #000000;
$color-light: #233554;

// Font sizes
$body-text-size-default: 1rem; // to do: update this for mobile/small screens
$h1-text-size-default: 3.8rem;

$body-text-size-desktop: 1.2rem;
$h1-text-size-desktop: 3.8rem;
$h2-text-size-desktop: 2.3rem;
$h3-text-size-desktop: 1.7rem;

// Spacing
$navigation-width: 9rem;

/*-----------------------------------------------*/
/* Breakpoints */
/*-----------------------------------------------*/

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
