.navigation {
    position: absolute;
    z-index: 1000;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: end;
    font-weight: 400;

    &__ul {
        list-style: none;
        display: flex;
        padding: 1rem 1rem 1rem 0;
    }

    &__item {
        margin-right: 1.2rem;
    }

    &__link {
        text-decoration: none;
        color: $color-text-body;

        &:link,
        &:visited {
            padding-bottom: 0.5rem;
            border-bottom: 2px solid transparent;
            transition: border-bottom 0.2s;
            -webkit-transition: border-bottom 0.2s;
            -moz-transition: border-bottom 0.2s;
            -ms-transition: border-bottom 0.2s;
            -o-transition: border-bottom 0.2s;
        }
        
        &:hover,
        &:active,
        &:focus {
            border-bottom: 2px solid $color-primary;
        }

    }
}
