.navigation {
    z-index: 1000;
    top: 0;
    z-index: 1000;
    display: flex;
    font-weight: 400;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    width: 9rem;
    left: 0;
    align-items: center;
    justify-content: center;
    background: $color-black;

    &__link {
        text-decoration: none;
        color: $color-text-body;

        &:link,
        &:visited {
            margin-bottom: 1.3rem;
            color: $color-text-body;
            border-bottom: 2px solid transparent;
            transition: border-bottom 0.2s;
            -webkit-transition: border-bottom 0.2s;
            -moz-transition: border-bottom 0.2s;
            -ms-transition: border-bottom 0.2s;
            -o-transition: border-bottom 0.2s;
        }
        
        &:hover,
        &:active,
        &:focus {
            border-bottom: 2px solid $color-primary;
        }

    }
}
