.card {
    display: flex;
    align-items: center;

    &:not(:first-child) {
        margin-top: 4rem;
    }

    &__header {
        margin-bottom: 0.5rem;
    }

    &__text {
        margin-left: 1.5rem;
    }

    &__pill-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0.5rem 0 1rem 0;
        
        &--item {
            border-radius: 5px;
            padding: 0.2rem 0.5rem;
            border: 1px solid $color-primary;
            margin-right: 0.8rem;
            margin-top: 0.5rem;
        }
    }

    &__read-more {
        display: block;
        margin-top: 0.8rem;
        text-decoration: underline;
    }

    &__header-link {
        &:first-child {
            margin-left: 2rem;
            margin-right: 0.5rem;
        }
    }
}
