.card {
    display: flex;
    align-items: center;

    &:not(:first-child) {
        margin-top: 4rem;
    }

    &__header {
        margin-bottom: 0.5rem;
    }

    &__text {
        margin-left: 1.5rem;
    }

    &__feature-link {
        display: block;
        margin-top: 0.8rem;
        text-decoration: underline;
    }

    &__header-link {
        &:first-child {
            margin-left: 2rem;
            margin-right: 0.5rem;
        }
    }

    &__image {
        background: rgba(204,214,246,0.6);
        padding: 0.3rem 0.2rem;
        border-radius: 5px;
    }
}
