.image-grid {
    padding: 0.3rem 0.2rem;
    display: flex;
    border-radius: 5px;
    align-items: center;
    background-color: rgba($color-text-body, 0.60);
    position: relative;

    &__item {
        height: 180px;
        margin: 0 0.2rem;
        border-radius: 2px;
    }

    &::after {
        position: absolute;
        content: '';
    }
}