$tab-height: 3rem;

.tabs {
    display: flex;

    &__list {
        position: relative;
        width: max-content;
        padding: 0px;
        margin: 0px;
    }
    &__button {
        background-color: transparent;
        cursor: pointer;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        text-decoration: none;
        border-left: 2px solid $color-light;
        width: 100%;
        border-top: none;
        border-bottom: none;
        border-right: none;
        height: 3rem;
        color: $color-text-body;
        transition: all 0.25s ease;

        span {
            margin: 0 1rem;
        }

        &.active {
            // border-left-color: $color-primary;
            color: $color-primary;
        }
        &:hover {
            background-color: rgba($color-primary, 0.1);
            color: $color-primary;
        }

        &:first-of-type {
            border-top-left-radius: 2px;
        }
        &:last-of-type {
            border-top-right-radius: 2px;
        }
        
        @for $i from 1 through 6 {
            &.tab-#{$i}.active {
                & ~ .active-highlight {
                    transform: translateY(#{($i*$tab-height) - $tab-height});
                }
            }
        }
    }
    
    .active-highlight {
        display: block;
        background-color: $color-primary;
        width: 2px;
        height: $tab-height;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(0);
        transition: transform 0.2s ease;
        transition-delay: 0.1s;
        z-index: 10;
    }

    &__content--wrapper {
        position: relative;
        padding: 0;
        width: 80%;
        margin-left: 1rem;
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 0;
        transition: opacity 0s ease;
    
        &.visible {
            position: relative;
            opacity: 1;
            width: 100%;
            height: auto;
            transition: opacity 0.5s ease;
            z-index: 2;
        }

        &--list {
            margin: 1rem 0 1rem 1rem;

            li:not(:first-child) {
                margin-top: 0.5rem;
            }
        }
    }
}
