*,
*::after,
*::before {
    margin: 0px;
    padding: 0px; 
    box-sizing: inherit;  
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    padding-left: $navigation-width;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: $body-text-size-desktop;
    line-height: 1.4;
    color: $color-text-body;
    background-color: $color-background;
    text-rendering: optimizeLegibility;

    @include respond(small-laptop) {
        padding: unset;
        font-size: $body-text-size-small-screens;
    }
}

section {
    margin: 7rem 0;
    @include respond(small-laptop) {
        margin: 5rem 0;
    }
}

.main-sections {
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
}

h1 {
    font-size: $h1-text-size-desktop;

    @include respond(small-laptop) {
        font-size: $h1-text-size-small-screens;
    }
}

h2 {
    font-size: $h2-text-size-desktop;
    @include respond(small-laptop) {
        font-size: $h2-text-size-small-screens;
    }
}

h3 {
    font-size: $h3-text-size-desktop;
    @include respond(small-laptop) {
        font-size: $h3-text-size-small-screens;
    }
}

a {
    text-decoration: none;
    color: currentColor;
}
