*,
*::after,
*::before {
    margin: 0px;
    padding: 0px; 
    box-sizing: inherit;  
}

body {
    min-height: 100vh;
    font-family: "Lato", sans-serif;
    font-weight: 400; 
    line-height: 1.7; 
    font-size: $body-text-size-default;
    color: $color-text-body;
    background-color: $color-background;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: $h1-text-size-default;
}

a {
    text-decoration: none;
}

.text-primary {
    color: $color-text-primary;
}

.btn {
    padding: 0.9rem 1.2rem;
    border: 1px solid $color-primary;
    border-radius: 3px;
    color: $color-primary;


    &:hover,
    &:focus,
    &:active {
        background-color: rgba($color-primary, 0.1);
    }
}
