*,
*::after,
*::before {
    margin: 0px;
    padding: 0px; 
    box-sizing: inherit;  
}

body {
    min-height: 100vh;
    padding-left: $navigation-width;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: $body-text-size-default;
    color: $color-text-body;
    background-color: $color-background;
    text-rendering: optimizeLegibility;
}

section {
    margin: 3rem 0;
}

.main-sections {
    max-width: 1140px;
    margin: 0 auto;
}

h1 {
    font-size: $h1-text-size-default;
}

a {
    text-decoration: none;
    color: currentColor;
}
