.text-primary {
    color: $color-text-primary;
}

.link-primary {
    color: $color-text-primary;

    &:link,
    &:visited {
        padding-bottom: 0.3rem;
        color: $color-text-primary;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.2s;
        -webkit-transition: border-bottom 0.2s;
        -moz-transition: border-bottom 0.2s;
        -ms-transition: border-bottom 0.2s;
        -o-transition: border-bottom 0.2s;
    }
    
    &:hover,
    &:active,
    &:focus {
        border-bottom: 2px solid $color-primary;
    }
}

.section-header {
    margin-bottom: 2rem;
    @include respond(small-laptop) {
        margin-bottom: 1.5rem;
    }
}

.btn {
    padding: 0.9rem 1.2rem;
    border: 1px solid $color-primary;
    border-radius: 3px;
    color: $color-primary;

    @include respond(small-laptop) {
        padding: 0.7rem 0.9rem;
    }

    &:hover,
    &:focus,
    &:active {
        background-color: rgba($color-primary, 0.1);
    }
}

.link {
    transition: color 0.2s;
    &:hover,
    &:focus,
    &:active {
        color: $color-primary;
    }
}

.icon {
    width: 20px;
    height: 20px;
    &--medium {
        width: 25px;
        height: 25px;
    }
}

.pill-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0.5rem 0 1rem 0;
    
    &__item {
        border-radius: 5px;
        padding: 0.2rem 0.5rem;
        border: 1px solid $color-primary;
        margin-right: 0.8rem;
        margin-top: 0.5rem;
    }
}


.img-container {
	position: relative;
	padding-bottom: 0;
	overflow: hidden;
	width: 100%;
    width: 410px;
}

.img-container-inner {
    padding-bottom: 63%;
	width: 100%;
	position: relative;

    &--grid {
        padding-bottom: 51%;
        width: 100%;
	    position: relative;
    }
}

.img-grid {
    display: flex;
    align-items: center;
    justify-content: center;

    &__item {
        height: 100%;
        margin: 0 0.2rem;
        border-radius: 2px;
    }
}

.img {
	object-fit: cover;
	width: 98.5%;
	height: 100%;
	position: absolute;
	overflow: hidden;
    margin: 0 0.2rem;
    border-radius: 2px;
}
